<div class="reporterMaker">
  <h2>Assign a Reporter to Cover {{beat.name}}</h2>
  <form ng-submit="addReporter()">

    <div class="form-group">
      <label for="name">Who is This Intrepid Reporter (TIR)?</label>
      <input id="name" ng-model="reporterName" required>
    </div>

    <div class="form-group">
      <label for="years">How long has TIR been at the paper?</label>
      <input id="years" ng-model="reporterYears">
    </div>

    <div class="form-group">
      <label for="birthday">When was TIR born?</label>
      <input id="birthday" ng-model="reporterBirthday">
    </div>

    <button type="submit" class="btn btn-warning">Move it, Ace!</button>

  </form>
</div>

<div class="reporterBox" ng-show="beat.reporters.length">
  <h2> {{beat.name}} Reporters: </h2>
  <ul>
    <li ng-repeat="item in beat.reporters">
      <span ng-click="thisReporter = true">{{item.name}}</span>
      <span ng-click="thisReporter = false" ng-show="thisReporter">:  {{item.years}} at the paper, birthday: {{item.birthday}}</span>
    </li>
  </ul>


</div>
