<div class="beatMaker">
  <h2>Drop a New Beat</h2>
  <form ng-submit="BeatsFactory.addBeat()">
    <input type="text" ng-model="BeatsFactory.beatName" required>
    <button type="submit" class="btn btn-danger">Let's Move!</button>
  </form>
</div>

<div id="beatMixer" ng-show="beats.length > 1">
  <h4>Search Beats?</h4>
  <form>
    <input ng-model="query" type="text">
  </form>
</div>

<div class="beatBox" ng-show="beats.length">
  <h3 ng-show="beats.length && filtered.length">Available Beats:</h3>
  <h3 ng-show="beats.length && !filtered.length">Sorry, I Don't Know That Ditty</h3>
  <ul>
    <li ng-repeat="item in filtered = (beats | filter:query)">
      <a ui-sref="beats.reporters({ beatId: item.id})">{{item.name}}</a>
    </li>
  </ul>
</div>

<div ui-view> </div>
